@model IEnumerable<TwitterBlueBird.Tweet>

@{
	ViewBag.Title = "Twitter BlueBird";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rate these Tweets!</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Text)
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Text)
			</td>
		</tr>
	}
</table>
